pytest
numpy==1.19.2
keyring==15.1
pkginfo==1.4.2
scipy==1.4.1
tensorflow==2.5.0
keras==2.3.1
matplotlib==3.5.1
pandas==1.3.5
tqdm==4.48.0
h5py==3.1.0
obspy==1.2.2
jupyter

# === Original GitHub (21-03-2022)
# pytest
# numpy~=1.19.2
# keyring>=15.1
# pkginfo>=1.4.2
# scipy>=1.4.1
# tensorflow~=2.5.0
# keras~=2.3.1
# matplotlib
# pandas
# tqdm>=4.48.0
# h5py~=3.1.0
# obspy
# jupyter
